{% extends "layout.html" %}

{% block body %}
  <p>Welcome!</p>
  <br>
  
  <p>Top 5 most popular series: </p>
  <ol>
    {% for series in most_popular %}
    <li>
      {{series.name}}&nbsp;({{series.amount}})
    </li>
    {% endfor %}
  </ol>
  <br>
  
  <p>Active series in the past 24 hours: </p>
  <ul>
      {% for series in recently_watched %}
      <li>
        {{series.name}}
      </li>
      {% endfor %}
  </ul>
  <br>

  <p>Users who are currently watching most shows: </p>
  <ul>
    {% for user in users_series %}
    <li>
      {{user.username}}&nbsp;(Watching {{user.amount}} series)
    </li>
    {% endfor %}
  </ul>

{% endblock %}