{% extends "layout.html" %}

{% block body %}
<table class="table">
  <thead class="thead-dark">
      <tr>
        <th>Series name</th>
        <th>Episodes watched</th>
        <th></th>
        <th>Status</th>
        <th></th>
      </tr>
  </thead>
    {% for userseries in userseries %}
    <tr>
      <td>{{ userseries.series_name }}</td>
      <td>{{ userseries.episodes_watched }}</td>
      <td>
        <form method="POST" action="{{ url_for('userseries_increase_episodes_watched_by_one', userseries_id=userseries.id) }}">
          <input class="btn btn-dark" type="submit" value="+1"/>
        </form>
      </td>
      <td>{{ userseries.status }}</td>
      <td>
        <form method="POST" action="{{ url_for('userseries_delete', userseries_id=userseries.id) }}">
          <input class="btn btn-danger" type="submit" value="Delete"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}