{% extends "layout.html" %}

{% block body %}
<p>
  <span>Not signed up yet? </span>
  <a href="{{ url_for('auth_register') }}">Register here</a>
</p>

{{ error }}
<form method="POST" action="{{ url_for('auth_login') }}">
  <table>
    <tr>
      <td style="padding: 0.5em;">{{ form.username.label }}</td>
      <td>{{ form.username(class_='form-control') }}</td>
    </tr>
    <tr>
      <td style="padding: 0.5em;">{{ form.password.label }}</td>
      <td>{{ form.password(class_='form-control') }}</td>
    </tr>
    <tr>
      <td colspan="2">
        <input class="btn btn-dark" type="submit" value="Login"/>
      </td>
    </tr>
</form>

{% endblock %}