{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('user_create') }}">
  <table>
    <tr>
      <td style="padding: 0.5em;">{{ form.name.label }}</td>
      <td>{{ form.name(class_='form-control') }}</td>
    </tr>
    <tr>
      <td style="padding: 0.5em;">{{ form.username.label }}</td>
      <td>{{ form.username(class_='form-control') }}</td>
    </tr>
    <tr>
      <td style="padding: 0.5em;">{{ form.password.label }}</td>
      <td>{{ form.password(class_='form-control') }}</td>
    </tr>
    <tr>
      <td colspan="2">
        <input class="btn btn-dark" type="submit" value="Register"/>
      </td>
    </tr>
</form>
{% endblock %}