{% extends "layout.html" %}

{% block body %}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Series</th>
        <th>Episodes Total</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    
    {% for series in series %}
    <tr>
      <td><a href="{{ url_for('series_show', series_id=series.id) }}">{{ series.name }}</a></td>
      <td>{{ series.episodes_total }}</td>
      {% if current_user.role == 'ADMIN' %}
      <td>
        <a href="{{ url_for('series_update_form', series_id=series.id) }} "><button class="btn btn-dark">Edit</button></a>
      </td>
      <td>
        <form method="POST" action="{{ url_for('series_delete', series_id=series.id) }}">
          <input class="btn btn-danger" type="submit" value="Delete"/>
        </form>
      </td>
      {% else %}
      <td colspan="2"></td>
      {% endif %}
      <td>
        <form method="POST" action="{{ url_for('series_add_to_userseries', series_id=series.id) }}">
          <input class="btn btn-dark" type="submit" value="Add to watchlist"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
  {{ error }}
{% endblock %}